# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=0719
DB_DATABASE=temp-smartpol_db
DB_TYPE=postgres

# App Configuration
NODE_ENV=development
PORT=3000

# JWT Configuration
JWT_SECRET=d7e2f9c1b8a6f3e5a0d9c2b7f1e8d6a4c9b0e2f7a1d8c6b5e9a
JWT_EXPIRATION=7d
