--
-- PostgreSQL database dump
--

\restrict aFiXy8vW0nJhjmjQZNnvKLbXsyib5XgVdUWwmpBJN8Du8uIyPuw46iMVA7cS673

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: candidate_leader; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.candidate_leader (
    candidate_id integer NOT NULL,
    leader_id integer NOT NULL
);


ALTER TABLE public.candidate_leader OWNER TO postgres;

--
-- Name: candidate_voter; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.candidate_voter (
    id integer NOT NULL,
    voter_id integer NOT NULL,
    candidate_id integer NOT NULL,
    leader_id integer,
    "createdAt" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.candidate_voter OWNER TO postgres;

--
-- Name: candidate_voter_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.candidate_voter_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.candidate_voter_id_seq OWNER TO postgres;

--
-- Name: candidate_voter_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.candidate_voter_id_seq OWNED BY public.candidate_voter.id;


--
-- Name: candidates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.candidates (
    id integer NOT NULL,
    name character varying NOT NULL,
    party character varying NOT NULL,
    number integer NOT NULL,
    corporation_id integer NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.candidates OWNER TO postgres;

--
-- Name: candidates_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.candidates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.candidates_id_seq OWNER TO postgres;

--
-- Name: candidates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.candidates_id_seq OWNED BY public.candidates.id;


--
-- Name: corporations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.corporations (
    id integer NOT NULL,
    name character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.corporations OWNER TO postgres;

--
-- Name: corporations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.corporations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.corporations_id_seq OWNER TO postgres;

--
-- Name: corporations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.corporations_id_seq OWNED BY public.corporations.id;


--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    id integer NOT NULL,
    name character varying NOT NULL,
    code character varying,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: departments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.departments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departments_id_seq OWNER TO postgres;

--
-- Name: departments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.departments_id_seq OWNED BY public.departments.id;


--
-- Name: leaders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.leaders (
    id integer NOT NULL,
    name character varying NOT NULL,
    document character varying NOT NULL,
    municipality character varying NOT NULL,
    phone character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.leaders OWNER TO postgres;

--
-- Name: leaders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.leaders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.leaders_id_seq OWNER TO postgres;

--
-- Name: leaders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.leaders_id_seq OWNED BY public.leaders.id;


--
-- Name: municipalities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.municipalities (
    id integer NOT NULL,
    name character varying NOT NULL,
    code character varying,
    "departmentId" integer NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.municipalities OWNER TO postgres;

--
-- Name: municipalities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.municipalities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.municipalities_id_seq OWNER TO postgres;

--
-- Name: municipalities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.municipalities_id_seq OWNED BY public.municipalities.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying NOT NULL,
    password character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: voters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.voters (
    id integer NOT NULL,
    "firstName" character varying NOT NULL,
    "lastName" character varying NOT NULL,
    identification character varying NOT NULL,
    gender character varying,
    "bloodType" character varying,
    "birthDate" date,
    phone character varying,
    neighborhood character varying,
    email character varying,
    occupation character varying,
    "politicalStatus" character varying,
    address character varying,
    "departmentId" integer,
    "municipalityId" integer,
    "votingBoothId" integer,
    "votingTableId" character varying,
    "createdAt" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.voters OWNER TO postgres;

--
-- Name: voters_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.voters_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.voters_id_seq OWNER TO postgres;

--
-- Name: voters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.voters_id_seq OWNED BY public.voters.id;


--
-- Name: voting_booths; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.voting_booths (
    id integer CONSTRAINT voting_booths_new_id_not_null NOT NULL,
    name character varying(255) CONSTRAINT voting_booths_new_name_not_null NOT NULL,
    code character varying(255),
    "municipalityId" integer,
    mesas integer,
    "createdAt" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT voting_booths_new_mesas_nonneg CHECK (((mesas IS NULL) OR (mesas >= 0)))
);


ALTER TABLE public.voting_booths OWNER TO postgres;

--
-- Name: voting_booths_new_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.voting_booths_new_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.voting_booths_new_id_seq OWNER TO postgres;

--
-- Name: voting_booths_new_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.voting_booths_new_id_seq OWNED BY public.voting_booths.id;


--
-- Name: candidate_voter id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_voter ALTER COLUMN id SET DEFAULT nextval('public.candidate_voter_id_seq'::regclass);


--
-- Name: candidates id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidates ALTER COLUMN id SET DEFAULT nextval('public.candidates_id_seq'::regclass);


--
-- Name: corporations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.corporations ALTER COLUMN id SET DEFAULT nextval('public.corporations_id_seq'::regclass);


--
-- Name: departments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments ALTER COLUMN id SET DEFAULT nextval('public.departments_id_seq'::regclass);


--
-- Name: leaders id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leaders ALTER COLUMN id SET DEFAULT nextval('public.leaders_id_seq'::regclass);


--
-- Name: municipalities id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipalities ALTER COLUMN id SET DEFAULT nextval('public.municipalities_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: voters id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voters ALTER COLUMN id SET DEFAULT nextval('public.voters_id_seq'::regclass);


--
-- Name: voting_booths id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voting_booths ALTER COLUMN id SET DEFAULT nextval('public.voting_booths_new_id_seq'::regclass);


--
-- Data for Name: candidate_leader; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: candidate_voter; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: candidates; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: corporations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.corporations (id, name, "createdAt", "updatedAt") FROM stdin;
1	Senado	2026-01-28 04:22:29.090278	2026-01-28 04:22:29.090278
2	Camara	2026-01-28 04:24:13.140847	2026-01-28 04:24:13.140847
3	CITREP	2026-01-28 04:24:35.160278	2026-01-28 04:24:35.160278
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: leaders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: municipalities; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, password, "createdAt", "updatedAt") FROM stdin;
3	digitador1@digital.com	$2b$10$HXnJP1rvRUSa95haKcG0oeah/dL4j86Oyh/OU5mVwAD95cFMeLvaK	2026-01-28 21:24:06.5636	2026-01-28 21:24:06.5636
4	digitador2@digital.com	$2b$10$S43b5TFKdqPRggZHSnLNj.sVAH0fEYnBbdCQTBjLKL4ggFuo1eFjy	2026-01-28 21:24:19.996363	2026-01-28 21:24:19.996363
5	digitador3@digital.com	$2b$10$Ye6rCfQyO0GSJtKRqcW4LOjTTTxO3TCSoSzCZ9C0zLo8li3eWmt0K	2026-01-28 21:24:31.61434	2026-01-28 21:24:31.61434
\.


--
-- Data for Name: voters; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: voting_booths; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: candidate_voter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.candidate_voter_id_seq', 667, true);


--
-- Name: candidates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.candidates_id_seq', 7, true);


--
-- Name: corporations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.corporations_id_seq', 3, true);


--
-- Name: departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.departments_id_seq', 32, true);


--
-- Name: leaders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.leaders_id_seq', 34, true);


--
-- Name: municipalities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.municipalities_id_seq', 1125, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 5, true);


--
-- Name: voters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.voters_id_seq', 304, true);


--
-- Name: voting_booths_new_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.voting_booths_new_id_seq', 1711, true);


--
-- Name: candidates PK_140681296bf033ab1eb95288abb; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidates
    ADD CONSTRAINT "PK_140681296bf033ab1eb95288abb" PRIMARY KEY (id);


--
-- Name: candidate_leader PK_1b5a712e603b2b11a24334eb313; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_leader
    ADD CONSTRAINT "PK_1b5a712e603b2b11a24334eb313" PRIMARY KEY (candidate_id, leader_id);


--
-- Name: corporations PK_3a8cb4ffa196174e92ccc299b00; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.corporations
    ADD CONSTRAINT "PK_3a8cb4ffa196174e92ccc299b00" PRIMARY KEY (id);


--
-- Name: leaders PK_6035d2826e63f39b50a34901d36; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leaders
    ADD CONSTRAINT "PK_6035d2826e63f39b50a34901d36" PRIMARY KEY (id);


--
-- Name: departments PK_839517a681a86bb84cbcc6a1e9d; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT "PK_839517a681a86bb84cbcc6a1e9d" PRIMARY KEY (id);


--
-- Name: municipalities PK_9c4573349577306f221dda4d924; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipalities
    ADD CONSTRAINT "PK_9c4573349577306f221dda4d924" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: voters PK_a58842a42a7c48bc3efebb0a305; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voters
    ADD CONSTRAINT "PK_a58842a42a7c48bc3efebb0a305" PRIMARY KEY (id);


--
-- Name: voters UQ_52c4af0d6cf51230fecc86d98b5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voters
    ADD CONSTRAINT "UQ_52c4af0d6cf51230fecc86d98b5" UNIQUE (email);


--
-- Name: departments UQ_8681da666ad9699d568b3e91064; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT "UQ_8681da666ad9699d568b3e91064" UNIQUE (name);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: voters UQ_b60147b13092c49fd5842e4609b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voters
    ADD CONSTRAINT "UQ_b60147b13092c49fd5842e4609b" UNIQUE (identification);


--
-- Name: candidate_voter candidate_voter_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_voter
    ADD CONSTRAINT candidate_voter_pkey PRIMARY KEY (id);


--
-- Name: voting_booths voting_booths_new_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voting_booths
    ADD CONSTRAINT voting_booths_new_pkey PRIMARY KEY (id);


--
-- Name: IDX_cd03501660a4954bba82eb55e6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_cd03501660a4954bba82eb55e6" ON public.candidate_leader USING btree (candidate_id);


--
-- Name: IDX_ff3ddf58756b5724b617d6a27d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_ff3ddf58756b5724b617d6a27d" ON public.candidate_leader USING btree (leader_id);


--
-- Name: idx_voters_votingboothid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_voters_votingboothid ON public.voters USING btree ("votingBoothId");


--
-- Name: idx_voters_votingtableid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_voters_votingtableid ON public.voters USING btree ("votingTableId");


--
-- Name: idx_voting_booths_new_municipalityid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_voting_booths_new_municipalityid ON public.voting_booths USING btree ("municipalityId");


--
-- Name: voters FK_4f7e43334f6d907237609fc062f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voters
    ADD CONSTRAINT "FK_4f7e43334f6d907237609fc062f" FOREIGN KEY ("departmentId") REFERENCES public.departments(id);


--
-- Name: voters FK_585091563505572820a2a44bef4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voters
    ADD CONSTRAINT "FK_585091563505572820a2a44bef4" FOREIGN KEY ("municipalityId") REFERENCES public.municipalities(id);


--
-- Name: municipalities FK_b9cb05d16adb0fb3176107342e2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipalities
    ADD CONSTRAINT "FK_b9cb05d16adb0fb3176107342e2" FOREIGN KEY ("departmentId") REFERENCES public.departments(id) ON DELETE CASCADE;


--
-- Name: candidates FK_c670ed8fec7225af7a131981b5f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidates
    ADD CONSTRAINT "FK_c670ed8fec7225af7a131981b5f" FOREIGN KEY (corporation_id) REFERENCES public.corporations(id);


--
-- Name: candidate_leader FK_cd03501660a4954bba82eb55e66; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_leader
    ADD CONSTRAINT "FK_cd03501660a4954bba82eb55e66" FOREIGN KEY (candidate_id) REFERENCES public.candidates(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: candidate_leader FK_ff3ddf58756b5724b617d6a27d4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_leader
    ADD CONSTRAINT "FK_ff3ddf58756b5724b617d6a27d4" FOREIGN KEY (leader_id) REFERENCES public.leaders(id);


--
-- Name: candidate_voter candidate_voter_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_voter
    ADD CONSTRAINT candidate_voter_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidates(id);


--
-- Name: candidate_voter candidate_voter_leader_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_voter
    ADD CONSTRAINT candidate_voter_leader_id_fkey FOREIGN KEY (leader_id) REFERENCES public.leaders(id);


--
-- Name: candidate_voter candidate_voter_voter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidate_voter
    ADD CONSTRAINT candidate_voter_voter_id_fkey FOREIGN KEY (voter_id) REFERENCES public.voters(id);


--
-- Name: voting_booths voting_booths_new_municipalityid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voting_booths
    ADD CONSTRAINT voting_booths_new_municipalityid_fkey FOREIGN KEY ("municipalityId") REFERENCES public.municipalities(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict aFiXy8vW0nJhjmjQZNnvKLbXsyib5XgVdUWwmpBJN8Du8uIyPuw46iMVA7cS673

