--
-- PostgreSQL database dump
--

\restrict Bb0IOnF5Xyz9jxJGuqiyPLr036RbDvnUG8wPaeCHKLNjpcHSFIVuxYnmlunA1h2

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: candidate_leader; Type: TABLE; Schema: public; Owner: temp-smartpol_user
--

CREATE TABLE public.candidate_leader (
    candidate_id integer NOT NULL,
    leader_id integer NOT NULL
);


ALTER TABLE public.candidate_leader OWNER TO "temp-smartpol_user";

--
-- Name: candidate_voter; Type: TABLE; Schema: public; Owner: temp-smartpol_user
--

CREATE TABLE public.candidate_voter (
    candidate_id integer NOT NULL,
    voter_id integer NOT NULL
);


ALTER TABLE public.candidate_voter OWNER TO "temp-smartpol_user";

--
-- Name: candidates; Type: TABLE; Schema: public; Owner: temp-smartpol_user
--

CREATE TABLE public.candidates (
    id integer NOT NULL,
    name character varying NOT NULL,
    party character varying NOT NULL,
    number integer NOT NULL,
    corporation_id integer NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.candidates OWNER TO "temp-smartpol_user";

--
-- Name: candidates_id_seq; Type: SEQUENCE; Schema: public; Owner: temp-smartpol_user
--

CREATE SEQUENCE public.candidates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.candidates_id_seq OWNER TO "temp-smartpol_user";

--
-- Name: candidates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: temp-smartpol_user
--

ALTER SEQUENCE public.candidates_id_seq OWNED BY public.candidates.id;


--
-- Name: corporations; Type: TABLE; Schema: public; Owner: temp-smartpol_user
--

CREATE TABLE public.corporations (
    id integer NOT NULL,
    name character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.corporations OWNER TO "temp-smartpol_user";

--
-- Name: corporations_id_seq; Type: SEQUENCE; Schema: public; Owner: temp-smartpol_user
--

CREATE SEQUENCE public.corporations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.corporations_id_seq OWNER TO "temp-smartpol_user";

--
-- Name: corporations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: temp-smartpol_user
--

ALTER SEQUENCE public.corporations_id_seq OWNED BY public.corporations.id;


--
-- Name: departments; Type: TABLE; Schema: public; Owner: temp-smartpol_user
--

CREATE TABLE public.departments (
    id integer NOT NULL,
    name character varying NOT NULL,
    code character varying,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.departments OWNER TO "temp-smartpol_user";

--
-- Name: departments_id_seq; Type: SEQUENCE; Schema: public; Owner: temp-smartpol_user
--

CREATE SEQUENCE public.departments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departments_id_seq OWNER TO "temp-smartpol_user";

--
-- Name: departments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: temp-smartpol_user
--

ALTER SEQUENCE public.departments_id_seq OWNED BY public.departments.id;


--
-- Name: leaders; Type: TABLE; Schema: public; Owner: temp-smartpol_user
--

CREATE TABLE public.leaders (
    id integer NOT NULL,
    name character varying NOT NULL,
    document character varying NOT NULL,
    municipality character varying NOT NULL,
    phone character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.leaders OWNER TO "temp-smartpol_user";

--
-- Name: leaders_id_seq; Type: SEQUENCE; Schema: public; Owner: temp-smartpol_user
--

CREATE SEQUENCE public.leaders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.leaders_id_seq OWNER TO "temp-smartpol_user";

--
-- Name: leaders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: temp-smartpol_user
--

ALTER SEQUENCE public.leaders_id_seq OWNED BY public.leaders.id;


--
-- Name: municipalities; Type: TABLE; Schema: public; Owner: temp-smartpol_user
--

CREATE TABLE public.municipalities (
    id integer NOT NULL,
    name character varying NOT NULL,
    code character varying,
    "departmentId" integer NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.municipalities OWNER TO "temp-smartpol_user";

--
-- Name: municipalities_id_seq; Type: SEQUENCE; Schema: public; Owner: temp-smartpol_user
--

CREATE SEQUENCE public.municipalities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.municipalities_id_seq OWNER TO "temp-smartpol_user";

--
-- Name: municipalities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: temp-smartpol_user
--

ALTER SEQUENCE public.municipalities_id_seq OWNED BY public.municipalities.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: temp-smartpol_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying NOT NULL,
    password character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO "temp-smartpol_user";

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: temp-smartpol_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO "temp-smartpol_user";

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: temp-smartpol_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: voters; Type: TABLE; Schema: public; Owner: temp-smartpol_user
--

CREATE TABLE public.voters (
    id integer NOT NULL,
    "firstName" character varying NOT NULL,
    "lastName" character varying NOT NULL,
    identification character varying NOT NULL,
    gender character varying NOT NULL,
    "bloodType" character varying NOT NULL,
    "birthDate" date NOT NULL,
    phone character varying NOT NULL,
    neighborhood character varying NOT NULL,
    email character varying NOT NULL,
    occupation character varying NOT NULL,
    "votingLocation" character varying NOT NULL,
    "votingBooth" character varying NOT NULL,
    "politicalStatus" character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    address character varying NOT NULL,
    "departmentId" integer NOT NULL,
    "municipalityId" integer NOT NULL
);


ALTER TABLE public.voters OWNER TO "temp-smartpol_user";

--
-- Name: voters_id_seq; Type: SEQUENCE; Schema: public; Owner: temp-smartpol_user
--

CREATE SEQUENCE public.voters_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.voters_id_seq OWNER TO "temp-smartpol_user";

--
-- Name: voters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: temp-smartpol_user
--

ALTER SEQUENCE public.voters_id_seq OWNED BY public.voters.id;


--
-- Name: candidates id; Type: DEFAULT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.candidates ALTER COLUMN id SET DEFAULT nextval('public.candidates_id_seq'::regclass);


--
-- Name: corporations id; Type: DEFAULT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.corporations ALTER COLUMN id SET DEFAULT nextval('public.corporations_id_seq'::regclass);


--
-- Name: departments id; Type: DEFAULT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.departments ALTER COLUMN id SET DEFAULT nextval('public.departments_id_seq'::regclass);


--
-- Name: leaders id; Type: DEFAULT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.leaders ALTER COLUMN id SET DEFAULT nextval('public.leaders_id_seq'::regclass);


--
-- Name: municipalities id; Type: DEFAULT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.municipalities ALTER COLUMN id SET DEFAULT nextval('public.municipalities_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: voters id; Type: DEFAULT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.voters ALTER COLUMN id SET DEFAULT nextval('public.voters_id_seq'::regclass);


--
-- Data for Name: candidate_leader; Type: TABLE DATA; Schema: public; Owner: temp-smartpol_user
--



--
-- Data for Name: candidate_voter; Type: TABLE DATA; Schema: public; Owner: temp-smartpol_user
--

COPY public.candidate_voter (candidate_id, voter_id) FROM stdin;
\.


--
-- Data for Name: candidates; Type: TABLE DATA; Schema: public; Owner: temp-smartpol_user
--



--
-- Data for Name: corporations; Type: TABLE DATA; Schema: public; Owner: temp-smartpol_user
--

COPY public.corporations (id, name, "createdAt", "updatedAt") FROM stdin;
1	Senado	2026-01-28 04:22:29.090278	2026-01-28 04:22:29.090278
2	Camara	2026-01-28 04:24:13.140847	2026-01-28 04:24:13.140847
3	CITREP	2026-01-28 04:24:35.160278	2026-01-28 04:24:35.160278
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: temp-smartpol_user
--

COPY public.departments (id, name, code, "createdAt", "updatedAt") FROM stdin;
1	Sucre	\N	2026-01-28 05:34:39.797674	2026-01-28 05:34:39.797674
2	C├│rdoba	\N	2026-01-28 05:34:39.937351	2026-01-28 05:34:39.937351
\.


--
-- Data for Name: leaders; Type: TABLE DATA; Schema: public; Owner: temp-smartpol_user
--



--
-- Data for Name: municipalities; Type: TABLE DATA; Schema: public; Owner: temp-smartpol_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: temp-smartpol_user
--

COPY public.users (id, email, password, "createdAt", "updatedAt") FROM stdin;
1	user@example.com	$2b$10$4Ybt1UJiSY22Wl5F4wcSj.pTsCQa/5hNlbwFRFRi/.VACuPM8dqL.	2026-01-28 04:11:11.569981	2026-01-28 04:11:11.569981
2	user@example.com.co	$2b$10$WhAtQ00bC7lpgWGBGuMD6uH5HAAm2LXGyLl3DYQOYmv92MNu/f9vK	2026-01-28 04:17:00.590562	2026-01-28 04:17:00.590562
\.


--
-- Data for Name: voters; Type: TABLE DATA; Schema: public; Owner: temp-smartpol_user
--

COPY public.voters (id, "firstName", "lastName", identification, gender, "bloodType", "birthDate", phone, neighborhood, email, occupation, "votingLocation", "votingBooth", "politicalStatus", "createdAt", "updatedAt", address, "departmentId", "municipalityId") FROM stdin;
8	Juan	P├®rez Garc├¡a	1234567890	M	O+	1980-01-15	+57 312 123 4567	Centro	voter@example.com	Ingeniero	Escuela Distrital Juan	Booth 1	Active	2026-01-28 06:00:47.559442	2026-01-28 06:00:47.559442	Cra 5 #12-34 Apt 201	1	1
\.


--
-- Name: candidates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temp-smartpol_user
--

SELECT pg_catalog.setval('public.candidates_id_seq', 7, true);


--
-- Name: corporations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temp-smartpol_user
--

SELECT pg_catalog.setval('public.corporations_id_seq', 3, true);


--
-- Name: departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temp-smartpol_user
--

SELECT pg_catalog.setval('public.departments_id_seq', 2, true);


--
-- Name: leaders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temp-smartpol_user
--

SELECT pg_catalog.setval('public.leaders_id_seq', 34, true);


--
-- Name: municipalities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temp-smartpol_user
--

SELECT pg_catalog.setval('public.municipalities_id_seq', 38, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temp-smartpol_user
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: voters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temp-smartpol_user
--

SELECT pg_catalog.setval('public.voters_id_seq', 8, true);


--
-- Name: candidates PK_140681296bf033ab1eb95288abb; Type: CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.candidates
    ADD CONSTRAINT "PK_140681296bf033ab1eb95288abb" PRIMARY KEY (id);


--
-- Name: candidate_leader PK_1b5a712e603b2b11a24334eb313; Type: CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.candidate_leader
    ADD CONSTRAINT "PK_1b5a712e603b2b11a24334eb313" PRIMARY KEY (candidate_id, leader_id);


--
-- Name: corporations PK_3a8cb4ffa196174e92ccc299b00; Type: CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.corporations
    ADD CONSTRAINT "PK_3a8cb4ffa196174e92ccc299b00" PRIMARY KEY (id);


--
-- Name: candidate_voter PK_40018961d0548d97e66579476e5; Type: CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.candidate_voter
    ADD CONSTRAINT "PK_40018961d0548d97e66579476e5" PRIMARY KEY (candidate_id, voter_id);


--
-- Name: leaders PK_6035d2826e63f39b50a34901d36; Type: CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.leaders
    ADD CONSTRAINT "PK_6035d2826e63f39b50a34901d36" PRIMARY KEY (id);


--
-- Name: departments PK_839517a681a86bb84cbcc6a1e9d; Type: CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT "PK_839517a681a86bb84cbcc6a1e9d" PRIMARY KEY (id);


--
-- Name: municipalities PK_9c4573349577306f221dda4d924; Type: CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.municipalities
    ADD CONSTRAINT "PK_9c4573349577306f221dda4d924" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: voters PK_a58842a42a7c48bc3efebb0a305; Type: CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.voters
    ADD CONSTRAINT "PK_a58842a42a7c48bc3efebb0a305" PRIMARY KEY (id);


--
-- Name: voters UQ_52c4af0d6cf51230fecc86d98b5; Type: CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.voters
    ADD CONSTRAINT "UQ_52c4af0d6cf51230fecc86d98b5" UNIQUE (email);


--
-- Name: departments UQ_8681da666ad9699d568b3e91064; Type: CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT "UQ_8681da666ad9699d568b3e91064" UNIQUE (name);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: voters UQ_b60147b13092c49fd5842e4609b; Type: CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.voters
    ADD CONSTRAINT "UQ_b60147b13092c49fd5842e4609b" UNIQUE (identification);


--
-- Name: municipalities UQ_b8cf722b934222a7dac34713328; Type: CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.municipalities
    ADD CONSTRAINT "UQ_b8cf722b934222a7dac34713328" UNIQUE (name);


--
-- Name: IDX_894180d497a5b7f8b849cb5d18; Type: INDEX; Schema: public; Owner: temp-smartpol_user
--

CREATE INDEX "IDX_894180d497a5b7f8b849cb5d18" ON public.candidate_voter USING btree (voter_id);


--
-- Name: IDX_bbeb505f9d9bffea16a99aa93c; Type: INDEX; Schema: public; Owner: temp-smartpol_user
--

CREATE INDEX "IDX_bbeb505f9d9bffea16a99aa93c" ON public.candidate_voter USING btree (candidate_id);


--
-- Name: IDX_cd03501660a4954bba82eb55e6; Type: INDEX; Schema: public; Owner: temp-smartpol_user
--

CREATE INDEX "IDX_cd03501660a4954bba82eb55e6" ON public.candidate_leader USING btree (candidate_id);


--
-- Name: IDX_ff3ddf58756b5724b617d6a27d; Type: INDEX; Schema: public; Owner: temp-smartpol_user
--

CREATE INDEX "IDX_ff3ddf58756b5724b617d6a27d" ON public.candidate_leader USING btree (leader_id);


--
-- Name: voters FK_4f7e43334f6d907237609fc062f; Type: FK CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.voters
    ADD CONSTRAINT "FK_4f7e43334f6d907237609fc062f" FOREIGN KEY ("departmentId") REFERENCES public.departments(id);


--
-- Name: voters FK_585091563505572820a2a44bef4; Type: FK CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.voters
    ADD CONSTRAINT "FK_585091563505572820a2a44bef4" FOREIGN KEY ("municipalityId") REFERENCES public.municipalities(id);


--
-- Name: candidate_voter FK_894180d497a5b7f8b849cb5d189; Type: FK CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.candidate_voter
    ADD CONSTRAINT "FK_894180d497a5b7f8b849cb5d189" FOREIGN KEY (voter_id) REFERENCES public.voters(id);


--
-- Name: municipalities FK_b9cb05d16adb0fb3176107342e2; Type: FK CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.municipalities
    ADD CONSTRAINT "FK_b9cb05d16adb0fb3176107342e2" FOREIGN KEY ("departmentId") REFERENCES public.departments(id) ON DELETE CASCADE;


--
-- Name: candidate_voter FK_bbeb505f9d9bffea16a99aa93c0; Type: FK CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.candidate_voter
    ADD CONSTRAINT "FK_bbeb505f9d9bffea16a99aa93c0" FOREIGN KEY (candidate_id) REFERENCES public.candidates(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: candidates FK_c670ed8fec7225af7a131981b5f; Type: FK CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.candidates
    ADD CONSTRAINT "FK_c670ed8fec7225af7a131981b5f" FOREIGN KEY (corporation_id) REFERENCES public.corporations(id);


--
-- Name: candidate_leader FK_cd03501660a4954bba82eb55e66; Type: FK CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.candidate_leader
    ADD CONSTRAINT "FK_cd03501660a4954bba82eb55e66" FOREIGN KEY (candidate_id) REFERENCES public.candidates(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: candidate_leader FK_ff3ddf58756b5724b617d6a27d4; Type: FK CONSTRAINT; Schema: public; Owner: temp-smartpol_user
--

ALTER TABLE ONLY public.candidate_leader
    ADD CONSTRAINT "FK_ff3ddf58756b5724b617d6a27d4" FOREIGN KEY (leader_id) REFERENCES public.leaders(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Bb0IOnF5Xyz9jxJGuqiyPLr036RbDvnUG8wPaeCHKLNjpcHSFIVuxYnmlunA1h2

